* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bag-items-container {
  display: inline-block;
  padding-right: 20px;
  width: 55%;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 80%;
  margin-left: 12.5%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:700px) {
  .bag-page {
    width: 90%;
    margin-left: 5%;
    justify-content: center;
  }

  .bag-items-container {

    width: 80%;
    border: none;
    text-align: center;
    padding: 32px 0 0 0;
  }

  .bag-summary { 
    vertical-align: top;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
    width: 80%;
    display: inline-block;
    padding: 10px 0 0 0;

  }
  
  .bag-details-container {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    min-width: 230px;
  } 
  .company{
   text-align: left;
  }
}

@media screen and (min-width:700px) {
  .bag-summary {
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 24px 0 0 16px;
    color: #282c3f;
    font-size: 13px;
    line-height: 1.42857143;
  }

  
}


.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 12px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  display: flex;
  top: 12px;
  right: 11px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
}

.company{
  font-weight: 700;
  font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    margin-bottom: 4px;
    color: #282c3f;
}

.item-name{
  width: 80%;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    color: #282c3f;
}

.price-container{
  margin-top: 25%;  
}

.current-price{
  font-size: 12px;
  font-weight: 700;
  color: #282c3f;
}

.original-price{
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.discount-percentage{
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

